data/
input/
output/
buffer2/
answer/
joinedcon/
validation/
a.out
1-1/
simulation/
share_ratio/
joined/
else/
common_headword/
test1116/
ZUKdata_November/
trans_head/
*.png
*.pdf
*.dot
*.jpg
metistest/
connected_components/
ZUKdata_1122.csv/
connected_components1208/
partition_and_count1209/
partition_big/
partition_graph1210/
